<h5>Title:</h5>
<p><%= @book.title %></p>

<h5>Body:</h5>
<p><%= @book.body %></p>


<%= link_to "Edit",lists_edit_path %>
<p>|</p>
<%= link_to "Back",lists_new_path %>

<!--横並びにさせたい-->
<!--edit 未完成-->